* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


h1 {
    margin: 2rem 8rem;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 100%;
    left: 0;
}

p {
    margin: 3rem;
    width: 20rem;
}

span {
    font-size: 3rem;
}

h2{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;

}

.fullPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 3rem 0;
    top: 0;
}


.infoSection {
    height: 40vh;
    width: 100%;
    background-color: #c7d3f3;
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
}

#fullPage3{
    display: flex;
    flex-direction: column;
}

#legendContainer{
    display: flex;
    justify-content: right;
    width: 65dvw;
}

#legend{
    color: grey;
    width: 20dvw;
}

#blackout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
}

#blackout p {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;

}

#container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65dvw;
}

#container3 svg {
    align-content: center;
    width: 65dvw;
}
#container3 p{
    margin: 0;
}
