* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


h1 {
    margin: 2rem 8rem;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 100%;
    left: 0;
}

p {
    margin: 3rem;
    width: 20rem;
}

.fullPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
}

.infoSection{
    height: 40vh;
    width: 100%;
    background-color: #c7d3f3;
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
}

.tooltip {
    text-align: center;
    color: #333;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}


#blackout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
}

#blackout p {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;

}


#span1 {
    font-size: 3rem;
}

#span2 {
    font-size: 3rem;
}

#container3{
    width: 80%;
    height: 80vh;
}

#container3 svg{
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px #d1d1d1;
    align-content: center;
}