* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



h1 {
    font-size: 2.3rem;
    width: 1200px;

}

p {
    margin: 1rem;
    width: 20rem;
    
    
}


h2{
    font-size: 2.3rem;
    width: 1200px;

}

h3{
    font-size: 1.3rem;
    width: 600px;
    max-width: 600px ;
}

select{
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: larger;
    border: none;
    background-color: whitesmoke;
    margin: 15px;
    box-shadow: 2px 2px 15px #c2c2c2;
}

h1, .container, #container3 {
    max-width: 100%;
}

li{
    padding: 0.5rem 0;
    width: 1100px;
}

.y-axis path, .y-axis line {
    stroke: #9c9c9c; /* Change the color of the axis line */
}

.y-axis text {
    fill: #9c9c9c; /* Change the color of the axis labels */
}
.x-axis path, .x-axis line {
    stroke: #9c9c9c; /* Change the color of the axis line */
}

.x-axis text {
    fill: #9c9c9c; /* Change the color of the axis labels */
}

.infoSection, #blackout {
    width: 100vw;
}

.custom-select {
    position: relative;
    display: inline-block;
    margin: 15px;
    box-shadow: 2px 2px 15px #c2c2c2;
    border-radius: 8px;
}
 
.select-selected {
    background-color: whitesmoke;
    color: #333333;
    padding: 1rem 2rem;
    cursor: pointer;
}
 
/* Style the dropdown items */
.select-items {
    position: absolute;
    display: none;
    background-color: whitesmoke;
    box-shadow: 2px 2px 15px #c2c2c2;
    border-radius: 4px;
    z-index: 1;
    width: 100%;
}
 
/* Style the dropdown items */
.select-items div {
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}
 
/* Style the dropdown items on hover */
.select-items div:hover {
    background-color: #ececec;
}

.fullPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
    margin: 5rem 0;
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
    padding: 3rem 0;
    line-height: 1.8rem;
}

.infoContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1100px;
    font-size: 1rem;
}
.infoHeader{
    width: 1100px;
}

.infoHeader h3{
    font-size: 1.8rem;
}


.infoText{
    width: 500px;
}

.infoParagraphs{
    width: 500px;
    text-align: left;
    margin: 0;
    padding: 0.5rem 0;
}
   

.infoParagraphs2{
    width: 1100px;
    text-align: left;
    margin: 0;
    padding: 0.5rem 0;
    
   
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
    width: 1200px;
    justify-content: start;
}

.line {
    fill: none;
    stroke-width: 7px;
}
.legend {
    font-size: 12px;
}

.Chart-title {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 12px;
}

.instructions{
    background-color: blue;
}

.simpleText{
    font-size: larger;
    line-height: 2.4rem;
    color: grey;
}

.info1list{
    width: 500px;
}

.legendContainer{
    display: flex;
    justify-content: right;
    width: 1200px;
}

.highlight{
    font-size: 1.7rem;
    color: steelblue;
    padding: 0;
    margin: 0;
}


#legendContainerMid{
    display: flex;
    justify-content:right;
    width:1200px;
    margin-right: 500px;
    max-width: 1200px;
}

#legendContainer1{
    margin-right: 200px;
}

#infoHeader1{
    margin-left: 1rem;
}

#legend, #legend2, #legend3{
    color: #9c9c9c;
    width: 25rem;
    margin-bottom: 1rem;
}

#blackout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    top: 0;
}

#blackout p {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;

}

#container1{
    justify-content: center;
}

#container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    justify-content: left;
}

#container3 svg {
    align-content: center;
    background-color: #fefefe;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px #c2c2c2;
    padding: 0.5rem;

}
#container3 p{
    margin: 0;
}

#areaChartContainer{
    display: flex;
    flex-direction: column;
}

#container2{
    justify-content: space-evenly;
}


#infoContent2{
    display: flex;
    flex-direction: column;
    width: 1100px;

}

#education{
    padding-right: 1.5rem;
}
#health{
    padding-left: 1.5rem;
}

#infoHeader1{
    width:1100px;
}

#lastInfoSection{
    height: 100dvh;
}

#closingStatement{
    width: 40dvw;
    font-size: 1.5rem;
}

#closingStatementText{
width: 40dvw;
}

#closingHeader{
    font-size: 2.5rem;
}

#changingLives{
    display: block;
    padding: 2rem 0;
}

#lightBulb{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}


/* Animating the lightbulb */
@keyframes blink {
    0%, 100% { color: hsl(60, 100%, 59%); } /* Lightbulb on */
    50% { color: hsl(60, 50%, 59%); }      /* Lightbulb off */
}

.fas.fa-lightbulb {
    font-size: 50px;             /* Adjust the size as needed */
    animation: blink 3s infinite; /* Apply the blinking animation */
}