* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    box-sizing: border-box;
    font-weight: 400;

}

h2 {
    box-sizing: border-box;
    margin: 0;
    width: 90%;
}

h3 {
    font-size: 1.5rem;
    box-sizing: border-box;
}

p {
    box-sizing: border-box;
    margin: 0;
}



.y-axis path,
.y-axis line {
    stroke: #9c9c9c;
    /* Change the color of the axis line */
}

.y-axis text {
    fill: #9c9c9c;
    /* Change the color of the axis labels */
}

.x-axis path,
.x-axis line {
    stroke: #9c9c9c;
    /* Change the color of the axis line */
}

.x-axis text {
    fill: #9c9c9c;
    /* Change the color of the axis labels */
}


.custom-select {
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 15px #c2c2c2;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0;
    width: 80%;
    padding: 1rem 2rem;
}

.select-selected {
    
    color: #333333;
    cursor: pointer;

}

/* Style the dropdown items */
.select-items {
    position: absolute;
    display: none;
    background-color: whitesmoke;
    box-shadow: 2px 2px 15px #c2c2c2;
    border-radius: 4px;
    z-index: 1;
    width: 80%;
}

/* Style the dropdown items */
.select-items div {
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}

/* Style the dropdown items on hover */
.select-items div:hover {
    background-color: #ececec;
}

.selectContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.fullPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 0;
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
    padding: 3rem 0;
    line-height: 1.8rem;
}

.infoContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.infoHeaderContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.infoList {
    display: block;
    width: 90%;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 0;

}

.infoText {
    width: 90%;
    box-sizing: border-box;
    margin: 0;
}

.infoParagraphs {
    width: 90%;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;

}

.container svg {
    box-sizing: border-box;
    margin: 0;
}

.headerContainer {
    width: 90%;
    padding: 2rem 0;
}

.line {
    fill: none;
    stroke-width: 7px;
}


.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 12px;
}


.simpleText {
    font-size: larger;
    line-height: 2.4rem;
    color: grey;
    box-sizing: border-box;
    margin: 0;
    width: 90%;
}

.simpleTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.highlight {
    font-size: 1.7rem;
    color: steelblue;
    padding: 0;
    margin: 0;
}

.legendContainer {
    box-sizing: border-box;
    margin: 0;
    width: 90%;
}

.legend {
    color: #9c9c9c;
}

.addedInfo {
    font-size: 0.8rem;
    font-weight: 500;
}


#container2 {
    flex-direction: column-reverse;
}

#blackout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100dvh;

}




#container3 svg {
    align-content: center;
    background-color: #fefefe;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px #c2c2c2;

}

#areaChartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

#infoContent2 {
    display: flex;
    flex-direction: column;
}

#closingStatement {
    width: 90%;
    box-sizing: border-box;
    margin: 0;
}


#closingStatementText {
    padding: 2rem 0;
}


#transformingLives {
    display: block;
    padding: 3rem 0;
    color: steelblue;
    font-weight: 700;
    width: 100%;
}

#lightBulb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}


/* Animating the lightbulb */
@keyframes blink {

    0%,
    100% {
        color: hsl(60, 100%, 59%);
    }

    /* Lightbulb on */
    50% {
        color: hsl(60, 50%, 59%);
    }

    /* Lightbulb off */
}

.fas.fa-lightbulb {
    font-size: 50px;
    /* Adjust the size as needed */
    animation: blink 3s infinite;
    /* Apply the blinking animation */
}


@media(min-width:999px){

    .container{
        flex-direction: row;
    }
    
    .simpleTextContainer{
        width: 40%;
    }

    #container2{
        flex-direction: row;
    }

    #container3{
        flex-direction: column;
    }
    #areaChartContainer{
        width: 50%;
    }
}

@media(min-width: 1200px){

    h2{
        font-size: 2rem;
        padding: 1rem 0;
    }
.headerContainer{
    width: 1000px;
}
    .container{
        flex-direction: row;
        justify-content: center;
    }
    
    .simpleTextContainer{
        width:20rem;
    }

    .infoList{
        padding: 0.2rem 0;
    }

    .infoHeaderContainer{
        width: 1000px;
    }
.infoText{
    width: 450;
}

.legendContainer{
    width: 1000px;
}

.selectContainer{
    width: 1000px;
    display: flex;
    justify-content: left;

}

.custom-select{
    width: auto;
}

#areaSelect{
    margin-left: 13rem;
}

#legendContainer1{
    display: flex;
    justify-content: end;
}

#legendLine{
    width: 600px;
}

#legendArea{
    width: 700px;
}
    #closingStatement
    {
        width: 700px;
        font-size: 1.3rem;
    }

    #closingheader{
        width: 700px;
    }
    #infoContent1{
        width: 1000px;
        flex-direction: row;
        align-items: flex-start;
    }
    #infoContent2{
        width: 1000px;
        flex-direction: column
    }




    #container2{
        flex-direction: row;
    }

    #container3{
        flex-direction: column;
    }
    #areaChartContainer{
        width: 50%;
    }

    #lastInfoSection{
        height: 100vh;
    }


    


}

